/*General styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
}

body{
    display: grid;
    min-height: 100vh;
    place-content: center;
}

:root {
    color: hsl(215, 51%, 70%);
}

/* card style setup */

.card {
    background-color: hsl(216, 50%, 16%);
    max-width: 20rem;
    border-radius: 1.1em;
    padding: 1.2em;
    margin: 0 auto;
    line-height: 1.5;
}

/* card image style setup */

.card-image{
    position: relative;
}

.card-image img{
    width: 100%;
    border-radius: .7em;
}

.image-hover-bg{
    background: url(images/icon-view.svg) center no-repeat, hsl(178, 100%, 50%);
    position: absolute;
    width: 17.5em;
    height: 17.5em;
    bottom: .45em;
    border-radius: .7em;
    opacity: .5;
    place-content: center;
    display: none;
}

.card-image:hover .image-hover-bg{
    display: block;
    cursor: pointer;
}

/* section style setup */

section h1 {
    font-weight: 500;
    margin-top: .5em;
    margin-bottom: .3em;
    font-size: 1.3em;
    color: hsl(0, 0%, 100%);
}

section h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

section p {
    padding-top: .8em;
    padding-bottom: .8em;
    font-size: 1em;
}

/* values */

.values {
    display: flex;
    justify-content: space-between;
    font-size: .9em;
    border-bottom: 1px solid white;
    margin-bottom: 1.1em;
    padding-bottom: .8em;
}

.values p:first-child{
    display: flex;
    color: hsl(178, 100%, 50%);
}

.values p:first-child img{
    align-self: center;
    margin-right: .5em; 
}

.values p:last-child{
    display: flex;
}

.values p:last-child img{
    align-self: center;
    margin-right: .5em;
}

/* avatar style setup */


.avatar {
    display: flex;
    justify-content: start;
    padding-bottom: .5em;
}

.avatar img {
    width: 2.2em;
    border-radius: 50%;
    border: .1em solid white;
    align-self: center;
    margin-right: .8em;
}

.avatar span {
    align-self: center;
}

.name {
    color: hsl(0, 0%, 100%);
}

.name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}


/* attribution */

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 5em;
}
.attribution a { 
        color: hsl(228, 45%, 44%); 
    }